.main-content-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.loading-animation {
  height: 5em;
  width: 5em;
}

@media screen and (min-width: 769px) {
  .loading-animation {
    height: 8em;
    width: 8em;
  }
}
