.event-card-container {
  display: flex;
  align-items: flex-start;

  width: 100%;
  padding: 0.5em 0em;
}

.attending-event-confirmation {
  color: var(--brand-colour);
  padding-top: 0.5em;
  font-size: 1em;
}

#event-card {
  border-top: 3px solid rgb(209 213 219);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  max-width: 1000px;
}

.event-card-image-container {
  display: flex;
}

.event-card-image {
  width: 50%;
}

.event-text {
  color: var(--primary-text-colour);
  font-size: 0.8em;
}

.center {
  text-align: center;
}

.event-title {
  color: var(--primary-text-colour);
  font-size: 0.9em;
}

.event-title-time-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.event-card-image {
  padding-right: 0.25em;
  object-fit: cover;
}

.event-date-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 5em;
  background-color: rgb(209 213 219);
  padding: 0.25em;
  border-radius: 0.25em;
}
.event-details-container {
  display: flex;
  justify-content: flex-start;
}

.event-information-container {
  display: flex;
  gap: 0.5em;
  width: 100%;
}

.bold {
  font-weight: bold;
}

.information-container {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

.single-event-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  height: 2em;
  width: 100%;
  font-size: 1em;
  align-self: stretch;
  background-color: var(--brand-colour);
  font-weight: bold;
  color: white;
  margin-bottom: 0.5em;
  &:hover {
    background-color: var(--brand-hover-colour);
    cursor: pointer;
  }
}

@media screen and (min-width: 481px) {
  .event-title-time-container {
    gap: 1em;
  }
  .event-information-container {
    gap: 1em;
  }
  .event-title {
    font-size: 1.2em;
  }
  .event-text {
    font-size: 1em;
  }
  .attending-event-confirmation {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 769px) {
  .event-card-container {
    padding: 2em;
  }
  .event-card-image {
    width: 60%;
  }
  .single-article-date-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
  }
  .single-event-button {
    width: 300px;
    height: 2.5em;
  }
  .event-title-time-container {
    gap: 1.5em;
    margin-left: 1em;
  }
  .information-container {
    gap: 1em;
  }
  .event-card-container {
    padding: 0.5em;
  }
  .event-confirmation-container {
    display: flex;
    direction: row;
    justify-content: flex-end;
    width: 100%;
  }
  .flex-space-between {
    display: flex;

    justify-content: space-between;
    width: 100%;
  }
  .attending-event-confirmation {
    color: var(--brand-colour);
    padding-top: 0em;
  }
}

@media screen and (min-width: 950px) {
  .event-card-container {
    padding: 1em;
  }
}
