.single-event {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#single-event-container {
  width: 100%;
  margin-top: var(--header-height);
  height: calc (100% - var(--header-height));
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.edit-event-button {
  align-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  height: 2em;
  width: 100%;
  font-size: 1em;
  background-color: var(--brand-colour);
  font-weight: bold;
  color: white;
  margin-bottom: 0.5em;
  &:hover {
    background-color: var(--brand-hover-colour);
    cursor: pointer;
  }
}

.single-event-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-event-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}
.event-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5em;
  gap: 0.5em;
}

.sinlge-event-title {
  font-size: 1.4em;
  color: var(--primary-text-colour);
}

.single-event-text {
  align-self: flex-start;
  color: var(--primary-text-colour);
}

.register-for-event-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  height: 2em;
  width: 100%;
  font-size: 1em;
  align-self: stretch;
  background-color: var(--brand-colour);
  font-weight: bold;
  color: white;
  margin-bottom: 0.5em;
  &:hover {
    background-color: var(--brand-hover-colour);
    cursor: pointer;
  }
}

.registered-for-event {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  height: 2em;
  width: auto;
  padding: 0.5em 1em;
  font-size: 1em;
  align-self: stretch;
  background-color: var(--brand-colour);
  font-weight: bold;
  color: white;
  margin-bottom: 0.5em;
}

.cancel-reg-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cancel-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: none;
  height: 2em;
  width: auto;
  padding: 0.5em 1em;
  font-size: 1em;
  align-self: stretch;
  background-color: var(--error-colour);
  font-weight: bold;
  color: white;
  margin-bottom: 0.5em;
  &:hover {
    cursor: pointer;
    background-color: #c52424;
  }
}

.registration-button-loading {
  margin-top: 1em;
  height: 2em;
  width: 100%;
  background-color: var(--brand-loading-colour);
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-loading-animation {
  height: 2em;
  width: 2em;
}

@media screen and (min-width: 769px) {
  .single-event-image {
    max-height: 400px;
  }
  .event-content-container {
    gap: 1em;
    padding: 1em;
  }
  .register-for-event-button,
  .button-loading-animation,
  .registration-button-loading,
  .edit-event-button,
  .cancel-registration,
  .registered-for-event {
    height: 2.5em;
  }
  .cancel-reg-container {
    flex-direction: row;
  }
  .edit-event-button {
    width: 35%;
  }
  .single-event-button-container {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1000px) {
  .single-event-image {
    max-height: 500px;
  }
}
