.events {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: column;
  height: calc(100% - var(--header-height));
  width: 100%;
  margin-top: 2em;
}
.events-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

@media screen and (min-width: 481px) {
  .events-container {
    padding: 1em;
  }
}
