.events-provider-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.events-header-image {
  display: none;
}

.event-filters-mobile-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-background-colour);
  width: 100%;
  padding: 0.5em;
  border-radius: 0.5em;
  max-width: 1000px;
  gap: 0.5em;
}

.date-events-label-mobile {
  align-self: flex-start;
}

.events-search-icon-bar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.1em;
}

.date-events-label-mobile {
  width: 50%;
}

.search-event-mobile-icon {
  height: 2em;
  width: 2em;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0.2em;
  color: var(--brand-colour);
  &:hover {
    cursor: pointer;
    background-color: var(--brand-colour);
    color: #fff;
  }
}

.event-search-mobile-input {
  outline: 1px solid black;
  padding: 0.5em;
  height: 2em;
  width: 100%;
}

.event-search-mobile-input:focus {
  outline: solid 2px var(--brand-colour);
}

@media screen and (min-width: 481px) {
  .event-filters-mobile-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background-colour);
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    max-width: 1000px;
    gap: 0.5em;
  }

  .events-search-icon-bar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.1em;
  }

  .date-events-label-mobile {
    width: 30%;
  }

  .search-event-mobile-icon {
    height: 2em;
    width: 2em;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.2em;
    color: var(--brand-colour);
    &:hover {
      cursor: pointer;
      background-color: var(--brand-colour);
      color: #fff;
    }
  }

  .event-search-mobile-input {
    outline: 1px solid black;
    padding: 0.5em;
    height: 2em;
    width: 100%;
  }

  .event-search-mobile-input:focus {
    outline: solid 2px var(--brand-colour);
  }
}

@media screen and (min-width: 769px) {
  .event-filters-mobile-container {
    display: none;
  }

  .events-header-image {
    background-image: url("../../assets/balloon-festival.jpg");
    width: calc(100dvw - (100dvw - 100%));
    height: 450px;
    max-height: 450px;
    background-position: 50% 50%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .event-filters-container {
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-background-colour);
    width: 100%;
    padding: 0.5em;
    border-radius: 0.5em;
    max-width: 1000px;
  }

  .search-events-label {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    width: 100%;
  }

  .date-events-label {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    width: 70%;
  }

  .events-search-icon-bar-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 0.1em;
  }

  .search-event-icon {
    height: 3em;
    width: 3em;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0.2em;
    color: var(--brand-colour);
    &:hover {
      cursor: pointer;
      background-color: var(--brand-colour);
      color: #fff;
    }
  }

  .event-search-input {
    outline: 1px solid black;
    padding: 0.5em;
    height: 3em;
    width: 100%;
  }
}
